<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome!</title>
    
</head>
<body style="background-color: orangered; text-align: center;"> 
    <h1 style="color:blue;text-align:center;" >Ledia and Amy's Fabulous HTML document</h1>
    <p style="font-size:25px;text-align: center; color: antiquewhite;"> Welcome one and all. <br> This will be fun, maybe. </p>
    <img src = 'https://i.natgeofe.com/n/548467d8-c5f1-4551-9f58-6817a8d2c45e/NationalGeographic_2572187_square.jpg' alt="The cutest cat in the cutest bow tie" width = 500 length = 500 > 
    <br>    <br>

    <button style="font-size:20pt; background-color: antiquewhite; color:antiquewhite"><a href = 'https://http.cat/'> Cat HTTP </a></button>
</body>
</html>